*{
    margin: 0;
    font-family: "Poppins", sans-serif;
}
body{
    background-color: #F7EAEA;
}
header{
    width: 90%;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
}
.btn{
    border: none;
    background-color: rgb(65, 95, 248);
    color: white;
    padding: 15px 30px;
    border-radius: 8px;
}
.btn:hover{
    background-color: rgba(1, 1, 120, 0.688);
    cursor: pointer;
}