*{
    margin: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #F7EAEA;
}
header{
    width: 90%;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
}
img{
    max-width: 100%;
    max-height: 100%;
}
.btn{
    border: none;
    background-color: rgb(65, 95, 248);
    color: white;
    padding: 15px 30px;
    border-radius: 8px;
}
.btn:hover{
    background-color: rgba(1, 1, 120, 0.688);
    cursor: pointer;
}
#highlight{
    width: 70%;
    margin: 50px auto;
    
}

#highlight > h1 {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 25px;
    text-shadow: 3px 2px 7px rgb(246, 118, 118);
}

#highlight > p {
    color: rgb(113, 113, 113);
    text-align: center;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 25px;
}

#buy-now-button{
    display: flex;
    justify-content: center;
}

#cover-image> img{
    width: 100%;   
}

.ci{
    width: 60%;
    margin: 50px auto;
}
#search-section{
    margin: 50px auto;
    width: 80%;
}
#search-section > h2{
    text-align: center;
    margin-bottom: 20px;
}
#search-container{
    border: 2px solid black;
    width: 50%;
    margin: 0 auto;
    border-radius: 10px;
    padding: 8px;
    background-color: #F5F5DC;
    display: flex;
    justify-content: space-between;
}
#search-bar > input[type="text"] {
    padding: 15px;
    border: none;
    outline: none;
    background-color: #F5F5DC;
}
#card-section{
    width: 80%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.card{
    border: 1px solid darkgray;
    border-radius: 10px;
    padding: 20px;
}
.card-image{
    background-color: white;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    margin-bottom: 20px;
}
.card-image:hover{
    background-color: rgb(229, 213, 214);
    transition: 0.8s;
}
.card-image img{
    height: 300px;
}
.card-title{
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
}
.card-description{
    text-align: center;
    margin-bottom: 20px;
    color: rgb(124, 124, 124);
}
.card-price{
    text-align: center;
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 20px;
}
.card-button{
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
